/* Task 8 */
@mixin div-city {
    margin-left: 15px;
    margin-right: 15px;
}

@mixin body-margins {
    margin-left: 15px;
    margin-right: 15px;
}

body {
    @include body-margins;
}

div {
    @include div-city;
}